<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <appSettings>
    <add key="AzureStorageConnectionString"  value="DefaultEndpointsProtocol=https;AccountName=sheleski;AccountKey=PxY2S0etF+LITfsF/cRT4M/+FraW0mdk5Dw+tc1cZkWP+I/ZY9nY03IWmFuUM/pvNhLpyGVCElWCV1bkEVDiNw==" />
  </appSettings>
</configuration>
